<h1>Rize Apparel</h1>

<header>
  <div class="headerRow blue">
    <div class="leftHeaderArea headerPiece"></div>
    <div class="middleHeaderArea headerPiece"></div>
    <div class="middleBorder gold"></div>
    <div class="rightHeaderArea headerPiece"></div>

  </div>
  <div class="headerRow gold">
    <div class="leftHeaderArea headerPiece"></div>
    <div class="middleBorder blue"></div>
    <div class="middleHeaderArea headerPiece"></div>
    <div class="rightHeaderArea headerPiece"></div>

  </div>

</header>

<h1>Our Products</h1>

<div class="products">
  <app-product-item *ngFor="let product of products" [product]="product">
  </app-product-item>
</div>