header {
  width: 80%;
  height: 700px;
  /* background: var(--maingold); */
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.headerRow {
  width: 100%;
  overflow: hidden;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
}

.headerPiece {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.leftHeaderArea {
  background-image: url('../../../assets/apparelImages/HeaderSweat.png');
  width: 40%;
  /* clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%); */
}

.middleHeaderArea {
  background-image: url('../../../assets/apparelImages/smoothroyaltyshirt.jpg');
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  z-index: 2;
}

.middleBorder {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 44%;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  z-index: 1;
}

.rightHeaderArea {
  background-image: url('../../../assets/apparelImages/HeaderPants.png');
  width: 40%;
  /* clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%); */
}

.gold {
  background: var(--maingold);
}

.blue {
  background: var(--mainblue);
}

h1 {
  font-size: 50px;
  color: var(--mainblue);
  margin-top: 50px;
  text-align: center;
  position: relative;
}

h1:after {
  content: '';
  width: 80%;
  height: 5px;
  background-color: var(--maingold);
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}

.products {
  height: 120vh;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 0px;
  padding: 100px;
  box-sizing: border-box;
}

app-product-item {
  width: 30%;
}