/* You can add global styles to this file, and also import other style files */
:root {
  --mainblue: rgb(37, 35, 64);
  --maingold: rgb(150, 143, 93);
}

html, body, * {
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'PT Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  padding-top: 200px;
}